* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(233, 236, 236);
}

.modules {
  display: flex;
  justify-content: center;
}

.app-wrapper {
  width: 70%;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}